.jumbotron {
    padding: 2rem 1rem;
    padding-bottom: 8px;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 20px;
}


footer {
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e9ecef;
    border-radius: 20px;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 99999;
    background-color: #e9ecef;
}

.fa-twitter:hover {
    transition-duration: 250ms;
    color:  #1da1f2;
}
.fa-facebook-f:hover {
    transition-duration: 250ms;
    color:  #4267B2;
}
.fa-instagram:hover {
    transition-duration: 250ms;
    color:  #E1306C;
}