*{
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Arvo', serif;
}

body {
  background-attachment: fixed;
  background-color: #e9ecef;
  height: 100%;
}

html {
  height: 100%;
}

#nav-logo{
  animation: spin ease 1.5s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

@keyframes spin { 
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
} 

.badge {
  background-color: #183153;
}

#login-btn {
  border-radius: 20px;
  background-color: #183153;
}

#book-btn{
  background-color: #183153;
}

#hero {
  margin-top: 180px;
  margin-bottom: 100px;
  width: 95%;
  padding: .5rem 1rem;
  background-color: #e9ecef;
  border-radius: 20px;
}

.navbar {
  overflow: hidden;
  z-index: 99999;
  background-color: #e9ecef;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.dropdown-menu {

  padding: .5rem 1rem !important;
  width: 300px !important;
}

.footer {
  padding: .5rem 1rem;
  background-color: #e9ecef;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.fa-twitter:hover {
  transition-duration: 250ms;
  color: #1da1f2;
}

.fa-facebook-f:hover {
  transition-duration: 250ms;
  color: #4267B2;
}

.fa-instagram:hover {
  transition-duration: 250ms;
  color: #E1306C;
}


#disclaimer {
  text-decoration: underline !important;

}

#disclaimer:hover {
  color: black !important;
  transition-duration: 250ms !important;
}

.fa-lg {
  padding: .5rem 1rem;
}

@media (max-width: 576px) {
  #hero {
    margin-bottom: 118px;
  }
}