*{
  font-family: 'Arvo', serif;
}

html{
  height: 100%;
}

#hero-img{
  background-image: url(/images/bg.jpg); 
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

#nav-logo{
  animation: spin ease 1.5s;
  margin-right: 10px; 
  width: 30; 
  height: 30;
}

@keyframes spin { 
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
} 

.badge {
  background-color: #183153;
}

#login-btn {
  border-radius: 20px;
  background-color: #183153;
}

#book-btn{
  background-color: #183153;
}

#disclaimer {
  text-decoration: underline !important;
  font-size: 0.7rem; 
  margin-bottom: 0px; 
  color: #6c757d;
}

#hero {
  margin-top: 180px;
  margin-bottom: 100px;
  width: 95%;
  padding: .5rem 1rem;
  background-color: #e9ecef;
  border-radius: 20px;
}
.text-muted{
  font-size: 0.7rem;
}

.navbar {
  z-index: 99999;
  background-color: #e9ecef;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.dropdown-menu {
  padding: .5rem 1rem !important;
  width: 300px !important;
}

.footer {

  padding: .7rem 1rem;
  background-color: #e9ecef;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.fa-lg {
  padding: .5rem 1rem;
}

.fa-twitter:hover {
  transition-duration: 250ms;
  color: #1da1f2;
}

.fa-facebook-f:hover {
  transition-duration: 250ms;
  color: #4267B2;
}

.fa-instagram:hover {
  transition-duration: 250ms;
  color: #E1306C;
}

#disclaimer:hover {
  color: black !important;
  transition-duration: 250ms !important;
}

@media (max-width: 576px) {
  #hero {
    margin-bottom: 118px;
  }

}