.center {
    margin: auto;
    padding: 10px;
  }

#pfp{
  zoom: 0.35;
}

#dateGreet{
  width: 75%;
}

#video{
  width: 50%;
}

#githubLink{
  width: 25%;
}


#t{
  width: 35%;
}

p, .link{
  font-size: x-large;
}


/* 2688x1242px at 458ppi */
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 3) { 
      #dateGreet{
        width: 100%;
      }
      #pfp{
        zoom: 0.03;
        display: none;
      }
      #githubLink{
        width: 50%;
      }
    
      #t{
        width: 100vw;
      }
      
      #video{
        width: 100%;
      }
    }

/*@media only screen and (max-width: 576px) {
  #dateGreet{
    width: 100%;
  }
  #pfp{
    zoom: 0.03;
    display: none;
  }
  #githubLink{
    width: 50%;
  }

  #t{
    width: 100%;
  }
  
  #video{
    width: 100%;
  }

} */
